<h1>Blog Pages</h1>
<%# <%= @pages.first.title  %>
<%# <% grade = 97 %>
<%# <% if grade > 60 %>
<%# You Passed!
<% end %> 
<% @pages.each  do |page| %>
<p><%= link_to page.title, page %></p>
<% end %>

<%= link_to 'New Page', new_page_path %>
